/* Diseño general */
body {
    margin: 0;
    padding: 0;
    background-color: pink;
}

header{
    padding: 20px;
    text-align: center;
    color: white;
    z-index: 2;
}

/* Sección de eventos */
.eventos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 20px;
}

/* Estilo de cada evento */
.evento {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex-basis: 30%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease; 
}

.evento:hover {
    transform: scale(1.05);
}

/* Encabezado dentro de los eventos */
.evento h1 {
    font-size: 1.5em;
    color: #333;
    font-family: 'Great Vibes', cursive;

}

.evento h2 {
    font-size: 1em;
    color: #333;

}

.evento p {
    color: #666;
    font-family: 'Dancing Script', cursive;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .evento {
        flex-basis: 45%; /* Toma 45% en tabletas */
    }
}

@media (max-width: 480px) {
    .evento {
        flex-basis: 100%; /* Ocupa todo el ancho en móviles */
    }
}
